article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

body {
  font: normal 0.8em arial, sans-serif;
  background: #000 url(img/mlk7.jpg) repeat center fixed;
  color: #FFF; }

p {
  padding: 0 0 20px 0;
  line-height: 1.7em; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #1EC9F4;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
  font: normal 0.8em arial, sans-serif; }

h1, h2, h3 {
  font: normal 0.8em arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #1EC9F4; }

h2 {
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #1EC9F4; }

h3 {
  font-size: 140%;
  padding: 5px 0 0 0; }

h4, h6 {
  color: #FD710B;
  padding: 0 0 5px 0;
  font: normal 0.8em arial, sans-serif; }

h5, h6 {
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0; }

h5 {
  color: #FFF; }

a, a:hover {
  outline: none;
  text-decoration: underline;
  color: #FD710B; }

a:hover {
  text-decoration: none; }

html body ul.sf-menu ul, html body ul.sf-menu ul li {
  width: 240px; }

html body ul.sf-menu ul ul {
  margin: 0 0 0 240px; }

ul.sf-menu, ul.sf-menu * {
  margin: 0;
  padding: 0; }

ul.sf-menu {
  display: block;
  position: relative; }

ul.sf-menu li {
  display: block;
  list-style: none;
  float: left;
  position: relative; }

ul.sf-menu li:hover {
  visibility: inherit; }

ul.sf-menu a {
  display: block;
  position: relative; }

ul.sf-menu ul {
  position: absolute;
  left: 0;
  width: 150px;
  top: auto;
  left: -999999px; }

ul.sf-menu ul a {
  zoom: 1; }

ul.sf-menu ul li {
  display: flex;
  width: 150px; }

ul.sf-menu ul ul {
  top: 0;
  margin: 0 0 0 150px; }

ul.sf-menu li:hover ul, ul.sf-menu li:focus ul, ul.sf-menu li.sf-hover ul,
ul.sf-menu ul li:hover ul, ul.sf-menu ul li:focus ul, ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul, ul.sf-menu ul ul li:focus ul, ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul, ul.sf-menu ul ul ul li:focus ul, ul.sf-menu ul ul ul li.sf-hover ul {
  left: auto; }

ul.sf-menu li:hover ul ul, ul.sf-menu li:focus ul ul, ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul, ul.sf-menu ul li:focus ul ul, ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul, ul.sf-menu ul ul li:focus ul ul, ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul, ul.sf-menu ul ul ul li:focus ul ul, ul.sf-menu ul ul ul li.sf-hover ul ul {
  left: -999999px; }

blockquote {
  margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF; }
  blockquote ul {
    margin: 2px 0 22px 17px; }
  blockquote ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em; }
  blockquote ol {
    margin: 8px 0 22px 20px; }
  blockquote ol li {
    margin: 0 0 11px 0; }
  blockquote .left {
    float: left;
    width: auto;
    margin-right: 10px; }
  blockquote .right {
    float: right;
    width: auto;
    margin-left: 10px; }
  blockquote .center {
    display: block;
    text-align: center;
    margin: 20px auto; }

#main, #nav, #container, #logo, #site_content, footer {
  margin-left: auto;
  margin-right: auto; }

#main, #nav, #container, #logo, #site_content, footer {
  margin: 50px auto;
  width: 1000px;
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border: 13px 13px 13px 13px;
  background: transparent url(img/main.png);
  padding-bottom: 30px; }
  #main header, #nav header, #container header, #logo header, #site_content header, footer header {
    background: transparent;
    height: 179px; }
  #main #logo, #nav #logo, #container #logo, #logo #logo, #site_content #logo, footer #logo {
    width: 930px;
    height: 179px;
    background: transparent;
    color: #888;
    padding: 0; }
  #main #logo h1, #nav #logo h1, #container #logo h1, #logo #logo h1, #site_content #logo h1, footer #logo h1, #main #logo h2, #nav #logo h2, #container #logo h2, #logo #logo h2, #site_content #logo h2, footer #logo h2 {
    font: normal 320% 'News Cycle', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0; }
  #main #logo_text h1, #nav #logo_text h1, #container #logo_text h1, #logo #logo_text h1, #site_content #logo_text h1, footer #logo_text h1, #main #logo_text h1 a, #nav #logo_text h1 a, #container #logo_text h1 a, #logo #logo_text h1 a, #site_content #logo_text h1 a, footer #logo_text h1 a, #main #logo_text h1 a:hover, #nav #logo_text h1 a:hover, #container #logo_text h1 a:hover, #logo #logo_text h1 a:hover, #site_content #logo_text h1 a:hover, footer #logo_text h1 a:hover {
    padding: 20px 0 0 0;
    color: #FFF;
    text-decoration: none; }
  #main #logo_text h2, #nav #logo_text h2, #container #logo_text h2, #logo #logo_text h2, #site_content #logo_text h2, footer #logo_text h2 {
    font: 170% 'News Cycle', arial, sans-serif;
    padding: 0 0 0 0; }
  #main nav, #nav nav, #container nav, #logo nav, #site_content nav, footer nav {
    height: 44px;
    width: 930px;
    margin: -34px auto 0 auto;
    -webkit-border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    border-radius: 13px 13px 13px 13px;
    color: #FFF;
    border: solid 1px #3BDDF5;
    background: #0DBBD5; }

#menu_container {
  margin: 0;
  width: auto;
  auto: 0 auto;
  color: #1EC9F4; }
  #menu_container #site_content {
    width: 930px;
    overflow: hidden;
    margin: 0px auto 0 auto;
    padding: 15px 0 15px 0; }
  #menu_container #sidebar_container {
    float: right;
    display: flex;
    width: 224px;
    padding: 20px 0 0 0; }
    #menu_container #sidebar_container .sidebar {
      float: right;
      width: 200px;
      margin: 0 0 17px 0;
      background: #444;
      border: 1px solid #222;
      -webkit-border-radius: 13px 13px 13px 13px;
      -moz-border-radius: 13px 13px 13px 13px;
      border-radius: 13px 13px 13px 13px;
      padding: 0 15px 5px 13px;
      opacity: 0.8; }
    #menu_container #sidebar_container .sidebar h3, #menu_container #sidebar_container .content h1 {
      padding: 5px 15px 20px 0;
      font: 200% 'News Cycle', arial, sans-serif;
      text-shadow: #000 1px 1px;
      margin: 0 1px;
      color: #FFF; }
    #menu_container #sidebar_container .sidebar h3 {
      padding: 9px 15px 14px 0;
      color: #FFF;
      font: 170% 'News Cycle', arial, sans-serif; }
    #menu_container #sidebar_container .sidebar ul {
      margin: 0 0 15px 0; }
    #menu_container #sidebar_container .sidebar li a, #menu_container #sidebar_container .sidebar li a:hover {
      color: #FFF;
      text-decoration: none; }
    #menu_container #sidebar_container .sidebar li a:hover {
      text-decoration: underline; }
    #menu_container #sidebar_container .sidebar_item, #menu_container #sidebar_container .content_item {
      padding: 15px 0; }
    #menu_container #sidebar_container .content {
      text-align: left;
      width: 630px;
      margin: 0 0 15px 0;
      float: left;
      font-size: 120%;
      padding: 14px 0 0 0; }
    #menu_container #sidebar_container .content ul {
      margin: 2px 0 22px 0px; }

footer {
  width: 930px;
  font: 2 normal 0.8em arial, sans-serif;
  height: 30px;
  padding: 5px 0 20px 0;
  text-align: center;
  -webkit-border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  color: #FFF;
  border: solid 1px #3BDDF5;
  background: #0DBBD5; }

footer p {
  line-height: 1.7em;
  padding: 0 0 10px 0; }

footer a {
  color: #FFF;
  text-decoration: none; }

footer a:hover {
  color: #FFF;
  text-shadow: none;
  text-decoration: underline; }

.form_settings {
  margin: 15px 0 0 0; }

.form_settings p {
  padding: 0 0 4px 0; }

.form_settings span {
  float: left;
  width: 200px;
  text-align: left; }

.form_settings input, .form_settings textarea {
  padding: 5px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #C6E7F0;
  background: #EFF8FB;
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px; }

.form_settings .submit {
  font: normal 0.8em arial, sans-serif;
  border: 0;
  width: 99px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 0 0 3px 0;
  cursor: pointer;
  background: #1EC9F4;
  box-sizing: border-box; }
  .form_settings .submit box {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFF;
    border: solid 1px #0D8AA9;
    background: #46C4DD;
    background: -webkit-gradient(linear, left top, left bottom, from(#63CFDF), to(#17B2D9));
    background: -moz-linear-gradient(top, #63CFDF, #17B2D9);
    text-shadow: 1px 1px #178497; }
  .form_settings .submit .form_settings select {
    width: 310px; }
  .form_settings .submit ul#nav {
    float: right; }
  .form_settings .submit ul#nav ul {
    background: #537e84;
    margin-top: -5px;
    padding-bottom: 15px; }
  .form_settings .submit ul#nav li a {
    padding: 8px 20px 6px 20px;
    font: 240% 'Jenna Sue', arial, sans-serif;
    text-decoration: none;
    color: #FFF;
    margin-right: 2px; }
  .form_settings .submit ul#nav li a:hover, .form_settings .submit ul#nav li a:focus {
    color: #E2E03E;
    text-shadow: none; }
  .form_settings .submit ul#nav ul li a {
    padding: 13px 20px 6px 20px; }
  .form_settings .submit ul#nav ul li a:hover, .form_settings .submit ul#nav ul li a:focus {
    color: #E2E03E;
    text-shadow: none; }

body {
  font-family: Verdana, sans-serif;
  margin: 0; }

.mySlides {
  display: none; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.active, .dot:hover {
  background-color: #717171; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 10; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
